/* Style global */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

header {
  background-color: #0d6efd;
  color: white;
  padding: 20px 0;
  text-align: center;
}

h1 {
  font-size: 2.5em;
  margin: 0;
}

p {
  font-size: 1.2em;
  margin: 5px 0;
}

/* Section des filtres */
#filters {
  background-color: #ffffff;
  padding: 20px;
  margin: 20px 10%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* Assure une réorganisation si nécessaire */
}

h2 {
  text-align: center;
  color: #333;
}

.filter {
  margin: 10px;
  flex: 1 1 200px; /* Chaque filtre aura une largeur minimale de 200px */
}

.filter label {
  display: block;
  font-size: 1.1em;
  color: #333;
}

.filter select, .filter input {
  width: 100%; /* Les champs filtrants prennent toute la largeur de leur parent */
  padding: 10px;
  font-size: 1em;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  display: block;
  width: 100%;
  background-color: #0d6efd;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 5px;
  font-size: 1.1em;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Section du catalogue */
#catalogue {
  padding: 30px 10%;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 10% 30px;
}

#annonces {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 20px;
}

.car {
  background-color: #f8f8f8;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-align: center;
}

/* Filtre horizontal */
#filters {
  display: flex;
  flex-wrap: wrap;  /* Permet aux filtres de se réorganiser si la largeur de l'écran est trop petite */
  gap: 20px;  /* Espace entre les filtres */
}

.filter {
  flex: 1 1 200px; /* Chaque filtre prend un maximum de 200px mais peut se réorganiser */
}

.filter select, .filter input {
  width: 100%;  /* Rendre les champs de filtrage à pleine largeur du conteneur */
}
